@font-face {
  font-family: 'Menu';
  src: url('./fonts/Menu.ttf');
}

.tab {
  position: fixed;
  top: 5px;
  padding: 5px;
}

.active {
  text-shadow: 2px -2px 20px #403644, -2px 2px 20px #403644, 2px 2px 20px #403644, -2px -2px 20px #403644;
}

#contactTab {
  right: 33%;
  transform: translateX(50%);
}

#menuTab {
  left: 50%;
  transform: translateX(-50%);
}

#homeTab {
  left: 33%;
  transform: translateX(-33%);
}

#content,
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  position: relative;
  margin-top: 50px;
  margin-bottom: 15px;
  height: calc(90vh - 90px);
  min-height: 300px;
}

.home {
  color: #f9f1f1;
  text-shadow: 5px -5px 10px black, -5px 5px 10px black, 5px 5px 10px black, -5px -5px 10px black, -10px -10px 15px white, 10px 10px 15px white, -10px 10px 15px white, 10px -10px 15px white;
  text-align: center;
}

.backgroundImage {
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  min-width: 97.5vw;
  min-height: 90vh;
  max-height: 92.5vh;
}

#destinations {
  border-radius: 15px;
  padding: 5px;
  appearance: none;
}

.contact {
  color: #333;
  text-shadow: 5px -5px 5px #f4f0db, -5px 5px 5px #f4f0db, 5px 5px 5px #f4f0db, -5px -5px 5px #f4f0db;
  text-align: center;
  padding: 0 15%;
}

.menu {
  font-family: 'Menu', sans-serif;
  color: #413831;
}

#menu {
  min-width: 500px;
  width: calc(100vw - 4%);
  max-width: calc(100vw - 4%);
  min-height: 500px;
  max-height: 500px;
}

.menuLeft {
  position: fixed;
  top: 225px;
  left: 13%;
  width: 33%;
  font-size: 1.75rem;
}

.menuRight {
  position: fixed;
  top: 225px;
  right: 10%;
  width: 33%;
  font-size: 1.75rem;
}

.bottom {
  top: 225px;
  transform: translateX(50%);
  font-size: 1.5rem;
}

.menuChoice1 {
  top: 275px;
  font-family: Gothic, sans-serif;
}

.menuChoice2 {
  top: 325px;
  font-family: Gothic, sans-serif;
}

.menuChoice3 {
  top: 375px;
  font-family: Gothic, sans-serif;
}

.menuChoice4 {
  top: 275px;
  transform: translateX(50%);
  font-family: Gothic, sans-serif;
}

.menuChoice5 {
  top: 325px;
  transform: translateX(50%);
  font-family: Gothic, sans-serif;
}

.menuChoice6 {
  top: 375px;
  transform: translateX(50%);
  font-family: Gothic, sans-serif;
}
